{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>LIVE COUNT *</title>
  </head>
  <body>
      <div class="container nag" >
            <h1>COVID-19 <span style="color: red;padding-left :20px;">LIVE</span><span><img src="css/live.png" alt="" width="25px" height="20px"></span></h1>
      </div>
      <div class="container">
          <img src="{% static 'css/rule.PNG' %}" alt="" width="100%">
            <div class="row row-data">
                <div class="col-3" style="background:#66a3ff ; width:550;height:250;">
                    <h1>COUNTRY</h1>
                </div>
                <div class="col-3" style="background:  #ffff66; width:550;height:250;">
                    <h1>TOTAL CASE</h1>
                </div>
                <div class="col-3" style="background: #ff6666; width:550;height:250;">
                    <h1>DEATHS CASES</h1>
                </div>
                <div class="col-3" style="background: green; width:550;height:250;">
                    <h1>RECOVERED CASES</h1>
                </div>
                <hr style="border-top: 1px dotted black;" >

                <!---->
                {% for i in country %}                
                <div class="col-3" style="background:#99ffd6 ; width:550;height:250;">
                    <h1>{{i}}</h1>
                </div>
                {% endfor %}
                {% for j in confirm%}
                <div class="col-3" style="background: #ffff66; width:550;height:250;">
                    <h1>{{j}}</h1>
                </div>
                {% endfor %}
                </div> 
            </div>
       </div>
       <footer>
           <div class="container" style="background-color: rgb(51, 51, 51);color:white;text-align:center;">
               <h6>Future Coder</h6>
               <h6 center>Copyright &copy; 2020 </h6>
           </div>
       </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>